# Titanic Exploratory Data Analysis

#### Some imports and configurations

In [1]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Configurations
fig_prefix = '2015-09-20-as-titanic-explo-lab-'

# 1 Data Wrangling
The titanic data was obtained from Udacity, while the data descriptions was obtained at Kaggle

## 1.1 Loading the Data

In [5]:
# Getting the titanic data
titanic_df = pd.read_csv('../data/titanic_data.csv')

Some information regarding the data.

In [3]:
# Some information about the data
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

From here we can see that there are about **891 entries** with a total of **12 columns**. The data types for each column can be observed as well. The variable descriptions as obtained from Kraggle is showed from this text file *[data_descriptions.txt](../data/data_descriptions.txt)*

<img src=../res/table_desc.png />

In [6]:
../res/table_desc.png

Upon looking at the data, I observed that some rows have no entries under the Age and Cabin column. Upon reading some online resources, I found out that there are options on how to deal with these rows. 

First is by dropping the rows that have no entries under the Age and Cabin column, but after observing that a large number of rows have no entries under the Cabin column, it would greatly affect my dataset if I were to drop a large number of rows.

Hence, my second option, by using some basic regression to predict the values of Age and Cabin columns based on other rows' value.